main .product{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

main .product .text{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .product .brand-name{
    font-weight: 700;
    font-size: 2rem;
}

main .product .price-quantity{
    font-weight: 500;
    font-size: larger;
}

main .product hr{
    width: 80%;
    height: 2px;
}

main .product .description{
    width: 85%;
    margin: 1rem 0;
}

main .product .addtocart{
    background: #fafafa;
    border: 2px solid;
    padding: 0.3rem 1.3rem;
    margin: 1rem 0;
}

main .product .addtocart:hover{
    background: green;
    color: white;
}

main .product img{
    margin-top: 1rem;
    text-align: center;
    min-height: 16rem;
    min-width: 16rem;
    height: 30%;
    width: 30%;
}