<div class="footer-container">
    <div class="footer-section">
        <h4>About Us</h4>
        <p>Damm Good Products</p>
    </div>
    <div class="footer-section">
        <h4>Follow Us</h4>
        <ul>
            <li><a href="#faceboox">Facebook</a></li>
            <li><a href="#twitter">Twitter</a></li>
            <li><a href="#instagram">Instagram</a></li>
        </ul>
    </div>

    <div class="footer-section">
        <h4><a href="#Seller">Sell Here</a></h4>
        <ul>
            <li>Quality</li>
            <li>Loyality</li>
            <li>Customer Base</li>
        </ul>
    </div>
</div>